.containers{
    background-color: #BCEAE6;
    padding: 5px;
    margin: 0;
}

.containers h1{
    text-align: center;
}

.containers img{
    width: 30rem;
    position: relative;
    right: 45px;
}

.containers .l-div{
    display: flex;
    margin: 50px;
}

.containers form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.containers input{
    margin: 5px;
    border: none;
    padding: 16px;
    outline: none;
    border-radius: 5px;
}

.containers .div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.div-container button{
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px auto;
    font-size: 15px;
    border-radius: 5px;
    background-color: #20B9AE;
    color: #ffff;
    border: none;
}

.div-container button:hover
{
    background-color: #43e1d7;
    transition: 0.5s;
}

@media (min-width: 300px) and (max-width: 767px) {
    .containers .div-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        flex-direction: column;
    }

    .containers img {
        position: static;
        width: 22rem;
    }

    .containers input {
        margin: 10px auto;
        padding: 18px;
        width: 17rem;
        display: flex;
        justify-content: center;
    }

    .containers form {
        display: flex;
        flex-direction: column;
        width: 368px;
    }

}


@media (min-width: 768px) and (max-width: 1024px){

    .containers img {
        width: 34rem;
        right: 20px;
    }

    .containers {
        padding: 34px;
    }

    .containers form {
        display: flex;
        top: 27px;
        position: relative;
        width: 76%;
    }

    .containers .l-div {
        margin: 30px;
    }
    
    .containers .div-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .containers input {
        padding: 24px;
        width: 30rem;
        font-size: 23px;
    }

    .div-container button {
        width: 245px;
        padding: 23px;
        font-size: 20px;
    }
    
}