.main-container{
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
}


.main-container img{
    width: 22rem;
    margin: 14px 50px;
}

.main-container .div-2 h3{
    margin: 10px;
    display: flex;
    justify-content: start;
}

.main-container .div-2{
    width: 50%;
}

.main-container li{
    margin: 10px 0;
}