*{
    margin: 0;
    padding: 0;
}

.home-contain {
    display: flex;
    justify-content: center;
}

.home-contain .div-1{
    width: 50%;
    padding: 50px;
}

.home-contain h1{
    color: #20B9AE;
}

.home-contain p {
    width: 30rem;
}

.home-contain .div-1 h5,p{
    margin: 17px 0;
}

.home-contain .div-1 h5{
  font-size: 20px;
}

.home-contain button{
    background-color: #20B9AE;
    color: #ffff;
    cursor: pointer;
    border: none;
    padding: 14px 25px;
    margin: 20px 0;
    font-weight: 600;
    border-radius: 6px;
}

.home-contain button:hover{
    background-color: #58ddd2;
    transition: 0.5s;
}

.home-contain img{
    width: 30rem;
    position: absolute;
    right: 1px;
}

.dot {
    height: 25rem;
    width: 32rem;
    z-index: -1;
    background-color: #A5E3DE;
    border-radius: 50%;
    display: inline-block;
  }

  .bottom-div{
    padding: 5px 20px;
    display: flex;
    height: 85px;
    text-align: center;
    background-image: linear-gradient(to right, #22B9AE , #ffff);
  }

  .bottom-div .b-head{
    margin: 10px 20px;
  }

  .bottom-div p{
    margin: 0;
  }

  @media (min-width: 300px) and (max-width: 767px) {

    .dot {
        height: 14rem;
        position: absolute;
        left: 10%;
        width: 20rem;
    }

    .home-contain img {
        width: 19rem;
        position: absolute;
        left: 9%;
    }
    
    .home-contain .div-1 {
        width: 100%;
        padding: 50px 30px;
        margin-top: 220px;
    }

    .home-contain p {
        width: 100%;
    }

    .bottom-div {
        font-size: 10px;
        height: 59px;
    }

    .div-2{
        display: flex;
        overflow: hidden;
    }
    
    .home-contain .div-1 h5, p {
        margin: 37px 0;
    }
    
    .home-contain {
        display: flex;
        justify-content: center;
        /* padding: 20px; */
    }

    .home-contain button {
        margin: 6px 0;
    }

  }  

  @media (min-width: 768px) and (max-width: 1024px){
    .home-contain img{
        width: 26rem;
        position: absolute;
        right: 1px;
    }
    
    .dot {
        height: 20rem;
        width: 26rem;
        z-index: -1;
        background-color: #A5E3DE;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        right: 1px;
      }

      .home-contain p {
        width: 23rem;
    }

      
    .home-contain .div-1{
        width: 50%;
        font-size: 15px;
        padding: 20px;
    }
    
    .home-contain {
        display: flex;
        justify-content: start;
    }
}