.contain {
    padding: 20px;
}
.contain button{
    padding: 20px;
    width: 200px;
    font-size: 15px;
    margin: 20px;
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
}

.contain .prod-table{
    display: flex;
   justify-content: center;
   margin: 20px 570px;
   font-size: 20px;
}

.contain .prod-list{
    margin: 40px;
}

hr{
    color: #24BAAF;
    border: 1.5px solid #24BAAF ;
}

.contain .prod-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
}

.icon img{
    cursor: pointer;
    width: 50px ;
}

@media (min-width: 300px) and (max-width: 767px) {
    .contain .prod-table {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    margin: 0;
    font-size: 20px;
}

.contain .prod-foot {
    display: block;
}

.icon{
    display: flex;
    justify-content: center;
}

}

@media (min-width: 768px) and (max-width: 1024px){

.contain .prod-table {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.contain .prod-list {
    margin: 20px;
}

}