.graph-div .dot-1{
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    margin: 70px;
    /* position: relative; */
}

.graph-div .dot-2{
    /* position: absolute; */
    height: 80px;
    width: 80px;
    /* z-index: -1; */
    border-radius: 50%;

    /* display: inline-block; */
}

.graph-div .div-1{
    /* transform: rotate(20deg); */
    position: absolute;
    left: 18px;
    bottom: 28px;
    transform: rotate(30deg);
}

.graph-div .div-1 .dot-1 ,
.dot-2{
    background-color: #B7CAEB;
    /* left: 1px; */
}

.graph-div .div-1
.dot-2{
    background-color: #B7CAEB;
}
.graph-div .div-2 .dot-1,
.dot-2{
    background-color: #A5E3DE;
}

.graph-div{
    position: relative;
}

.graph-div .div-2{
    position: absolute;
    right: 21px;
    top: -20px;
    transform: rotate(190deg);
}



.graph-div img{
    width: 25rem;
    display: flex;
    justify-content: center;
    margin: 110px auto;
    align-items: center;
    position: relative;
    top: 50%;
}

.graph-div .bg-1{
    height: 500px;
    width: 500px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient( #b3cefb,#ffff, #ffff);
    /* display: flex; */
    z-index: -1;
    left: 10rem;
    top: -101px;
    filter: blur(20px);
    /* justify-content: center; */
    /* align-items: center; */
}

.graph-div .bg-2{
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient( #97e6e1,#ffff);
    z-index: -1;
    right: 20rem;
    bottom: 1px ;
    filter: blur(20px);
}

@media (min-width: 300px) and (max-width: 767px) {
.graph-div img {
    width: 15rem;
    z-index: 1;
}


.graph-div .dot-2,.dot-1 {
  display: none;
}  

.graph-div .div-1 {
    position: absolute;
    left: 18px;
    top: 130px;
    transform: rotate(11deg);
}

.graph-div .div-2 {
    position: absolute;
    right: -45px;
    bottom : 110px;
    transform: rotate(315deg);
}


.graph-div {
    overflow: hidden;
}
}


@media (min-width: 768px) and (max-width: 1024px){
    .graph-div .bg-1 {
    height: 50rem;
    width: 50rem;
    position: absolute;
    left: 6rem;
    top: -124px;
    filter: blur(20px);
 }
}