.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.container .images img{
    width: 15rem;
    margin: 10px;
}

.container .images{
    display: flex;
    justify-content: center;
}

.images button{
    z-index: 1;
    left: 1px;
    margin-right: 20px;
    position: absolute;
    left: 17%;
    border: none;
    border-radius: 5px;
    background-color: #20B9AE;
    color: #ffff;
    font-weight: 600;
    top: 80%;
    display: flex;
    width: 170px;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}

.images button:hover{
    background-color: #2fd7cf;
    transition: 0.5s;
}

.images1{
    position: relative;
}

@media (min-width: 300px) and (max-width: 767px) {
    .container .images img {
        width: 10rem;
        margin: 10px;
    }

    
.container .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

br{
    display: none;
}

    .images button{
        width: 115px;
        margin: -18px auto;
    }

} 

@media (min-width: 768px) and (max-width: 1024px){

    br{
        display: none;
    }

    .container .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: auto;
    }

    .home-contain .div-1 h5, p {
        margin: 17px 0;
        font-size: 23px;
    }
}